{% extends 'metabolite_app/base.html' %}

{% block content %}
  <h1 class="cover-heading">Operations on DataSet</h1>
  <br>
    <p class="lead">Operation 1 : Filter out all the data for metabolite ids ending with: ‘PC’, ‘LPC’ and ‘plasmalogen’.
    </p>
    <p class="lead">Operation 2 : Add a new column in the parent dataset with the name “Retention Time Roundoff (in mins)”.
    </p>
    <p class="lead">Operation 3 : Find the mean of all the metabolites which have same "Retention Time Roundoff" across all the samples.
    </p>
  <br>

  <a href="{% url 'result' 1 %}"><button type="submit" class="btn btn-secondary">Perform Operation 1</button></a>
  <a href="{% url 'result' 2 %}"><button type="submit" class="btn btn-secondary">Perform Operation 2</button></a>
  <a href="{% url 'result' 3 %}"><button type="submit" class="btn btn-secondary">Perform Operation 3</button></a>
  
  {% if file_path %}
  <table class="table bg-light mt-4">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Operation</th>
        <th scope="col">Dataset</th>
      </tr>
    </thead>
  {% for file,opr in file_path %}
    <tbody>
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td>{{ opr }}</td>
        <td><a href="{{file}}" class="btn btn-secondary">Download</a></td>
      </tr>
    </tbody>
  {% endfor %}
  </table>
  {% endif %}
{% endblock %}